# Place this here:
# /etc/systemd/system/pi-fleet.service

[Unit]
Description=OSQueryForPi
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/osqueryd --flagfile=/etc/pifleet/flagfile.txt
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=OSqueryForPi
User=root
Group=root
Environment=PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin:/etc/pifleet

[Install]
WantedBy=multi-user.target
